.geral {
  background-color: white;
  margin: 3rem 0;
}

.geral > header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.h1-color {
  text-align: center;
  background-color: white;
  color: darkorchid;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  background-color: white;
  padding-bottom: 5%;
  margin: 5rem 15rem;
}

.grid-item {
  background-color: rgb(217 183 228);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 4px solid;
  padding: 1rem;
  transition: ease-in 0.3s;
}

.grid-item > header {
  display: flex;
  justify-content: space-between;
}

.grid-item > footer {
  display: flex;
  justify-content: space-between;
}

.grid-item > p {
  text-align: center;
}

.grid-item:hover {
  filter: brightness(0.9);
  border: 4px solid darkorchid;
}

.imgPets {
  border-radius: 1rem;
  width: 200px;
  height: 200px;
  margin: auto;
  transition: ease-in 0.3s;
}

.imgPets:hover {
  transform: scale(1.1);
}

.macho {
  color: darkblue;
}

.femea {
  color: darkmagenta;
}

@media (max-width: 1600px) {
  .grid-container {
    grid-template-columns: repeat(3, auto);
    margin: 2rem 2rem;
  }
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: auto;
    margin: 2rem 3rem;
  }
}
