.geral {
  background-color: white;
}

.h1-color {
  text-align: center;
  background-color: white;
  color: darkorchid;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  background-color: white;
  width: 60%;
  padding-left: 20%;
  padding-bottom: 5%;
}

.grid-item {
  background-color: rgb(217 183 228);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  border: 4px solid;
  padding: 0.5rem;
  transition: ease-in 0.3s;
}

.grid-item > header {
  display: flex;
  justify-content: space-between;
}

.grid-item > footer {
  display: flex;
  justify-content: space-between;
}

.grid-item:hover {
  filter: brightness(0.9);
}

.imgPets {
  width: 200px;
  height: 200px;
  margin: auto;
}

.macho {
  color: darkblue;
}

.femea {
  color: darkmagenta;
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: auto auto;
  } 
}

@media (max-width: 600px) {
  .grid-container {
    grid-template-columns: auto;
  } 
}

