.footer {
  background-color: lightpink;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}

#emails {
  display: grid;
  grid-template-columns: auto auto;
  width: 100%;
  justify-content: space-evenly;
}

#emails > p, a {
  font-size: 1.2rem;
}

#copyright {
  bottom: 10px;
  text-align: center;
  font-size: large;
}

img {
  width: 5rem;
  height: 5rem;
}
